.header-container{
    background-color: rgb(238, 238, 212);
    padding:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container > h1{
    display: flex;
    align-items: center;
    gap:5px;
}